body {
  background-color: #ececec;
}

.headerText {
  /**color: #ffffff;**/
  width: 168px;
  height: 46px;
  font-family: AmpleSoft;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;  
}

.flex-class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    background-color: #ececec;
    /*opacity: 0.11;
    background-color: #404040;    */
  }
  .flex {
    display: flex;
  }
/**
* {
  border-radius: 0px !important;
}

.no-border {
  box-shadow: none;
  outline: none;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}**/

.no-border:focus {
  border-bottom: 1.5px solid #007bff;
}

@media only screen and (max-width: 768px) {
  img {
      max-height: 100px;
  }
  .username {
      text-align: left;
  }
} 

.material-icons.pink600 { color: #fa496e; }

form.login input[type="text"], form.login input[type="password"]
{
    width: 90%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #404040;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #fa496e;
    outline: 0;
}

.img-login {
    padding: 90px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    /*-webkit-border-radius: 50%;
    border-radius: 50%;*/
}
    #customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 250px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
      border-radius: 25.5px;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
    }
    span.icon {
      background: url('../img/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }

    .div-login{
      text-align: center;
      display: inline-block;
      padding: 25px;
    }

    #btn-login {
      width: 60%;
      height: 30px;
      border-radius: 25.5px;
      background-color: #fa496e;
      color: #ececec;
      font-size: 18px;
    }

    #forgetPass {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
    }

    .or-box {
      position: relative;
      border-top: 1px solid #d8d8d8;
      padding-top: 20px;
      margin-top:20px;
  }
  .or {      
      background-color: #ececec;
      position: absolute;
      text-align: center;
      top: -8px;
      width: 40px;
      left: 50%;
      font-family: AmpleSoft;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #fa496e;
  }